In [1]:
pip install Faker

Requirement already satisfied: Faker in c:\users\jenny\appdata\local\programs\python\python311\lib\site-packages (24.9.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\jenny\appdata\local\programs\python\python311\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\jenny\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from faker import Faker
import random
from datetime import datetime

fake = Faker()

num_customers = 75

flight_no = []
restaurantID = []
typeID = []
BookedID = []
hotelID = []
paymentID = []
airline_name = []
customerID = []
ticketID = []
classID = []
cuisineID = []
activitiesID = []
navigationID = []
date_time = []

while len(flight_no) < num_customers:
    value = fake.random_number(digits=5)
    if value not in flight_no:
        flight_no.append(value)

while len(restaurantID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in restaurantID:
        restaurantID.append(value)

while len(typeID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in typeID:
        typeID.append(value)        
        
while len(BookedID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in BookedID:
        BookedID.append(value)      

while len(hotelID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in hotelID:
        hotelID.append(value)
        
while len(paymentID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in paymentID:
        paymentID.append(value)

while len(airline_name) < num_customers:
    value = fake.company()
    if value not in airline_name:
        airline_name.append(value)

while len(customerID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in customerID:
        customerID.append(value)

while len(ticketID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in ticketID:
        ticketID.append(value)

while len(classID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in classID:
        classID.append(value)

while len(cuisineID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in cuisineID:
        cuisineID.append(value)

while len(activitiesID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in activitiesID:
        activitiesID.append(value)

while len(navigationID) < num_customers:
    value = fake.random_int(min=0, max=1000)
    if value not in navigationID:
        navigationID.append(value)

while len(date_time) < num_customers:
    value = datetime.strftime(fake.date_time(), '%Y-%m-%d %H:%M:%S')
    if value not in date_time:
        date_time.append(value)

## Strong entity

In [3]:
# Generate sample data for class table
num_customers = 75

Class = []
for i in range(num_customers):
    customer = {
            'class_id': classID[i],
            'fare': fake.random_number(digits=3),
            'flight_no': flight_no[i],
            'class_type': random.choice(['First Class', 'Business Class', 'Premium Economy', 'Economy Plus', 'Main Cabin Extra', 'Basic Economy', 'Premium Business', 'Economy Class', 'Comfort Class', 'Economy Flex'])
    }
    Class.append(customer)
    
with open('class_sample_data_customers.sql', 'w') as f:
    for customer in Class:
        f.write("INSERT INTO class (class_id, fare, class_type) VALUES ('{}', '{}', '{}');\n".format(
            customer['class_id'], customer['fare'], customer['flight_no'], customer['class_type']))

In [4]:
# Generate sample data for airline table
num_customers = 75

airline = []
for i in range(num_customers):
    customer = {
            'airline_name': airline_name[i],
            'contact_info': fake.phone_number()
    }
    airline.append(customer)

with open('airline_sample_data_customers.sql', 'w') as f:
    for customer in airline:
        f.write("INSERT INTO airline (airline_name, contact_info) VALUES ('{}', '{}');\n".format(
            customer['airline_name'], customer['contact_info']))

In [5]:
# Generate sample data for flights table
num_customers = 75

flights = []
for i in range(num_customers):
    customer = {
            'flight_no': flight_no[i],
            'seats': fake.random_number(digits=2),
            'duration': fake.random_number(digits=2),
            'departure_location': fake.city(),
            'arrival_time': date_time[i],
            'arrival_location': fake.city(),
            'departure_time': date_time[i],
            'airline_name': airline_name[i]
    }
    flights.append(customer)
    
with open('flights_sample_data_customers.sql', 'w') as f:
    for customer in flights:
        f.write("INSERT INTO flights (flight_no, seats, duration, departure_location, arrival_time, arrival_location, departure_time, airline_name) VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');\n".format(
            customer['flight_no'], customer['seats'], customer['duration'], customer['departure_location'], customer['arrival_time'], customer['arrival_location'], customer['departure_time'], customer['airline_name']))

In [6]:
# Generate sample data for payment table
num_customers = 75

payment = []
for i in range(num_customers):
    customer = {
            'paymentID': paymentID[i],
            'amount': fake.random_number(digits=4),
            'payment_type': random.choice(['Credit Card', 'Debit Card', 'Cash', 'Mobile Payment', 'Bank Transfer']),
            'transaction_assure': random.choice([1, 0]),
            'theft_prevention': random.choice([1, 0]),
            'ticketID': ticketID[i]
    }
    payment.append(customer)
    
with open('payment_sample_data_customers.sql', 'w') as f:
    for customer in payment:
        f.write("INSERT INTO payment (paymentId, amount, payment_type, transaction_assure, theft_prevention, ticketID) VALUES ('{}', '{}', '{}', '{}', '{}', '{}');\n".format(
            customer['paymentID'], customer['amount'], customer['payment_type'], customer['transaction_assure'], customer['theft_prevention'], customer['ticketID']))

In [7]:
# Generate sample data for flight_ticket table
num_customers = 75

flight_ticket = []
for i in range(num_customers):
    customer = {
            'ticketID': ticketID[i],
            'Class': random.choice(['First Class', 'Business Class', 'Premium Economy', 'Economy Plus', 'Main Cabin Extra', 'Basic Economy', 'Premium Business', 'Economy Class', 'Comfort Class', 'Economy Flex']),
            'customerName': fake.name(),
            'cost': fake.random_number(digits=3),
            'flight_no': flight_no[i],
            'customerID': customerID[i]
    }
    flight_ticket.append(customer)
    
with open('flight_ticket_sample_data_customers.sql', 'w') as f:
    for customer in flight_ticket:
        f.write("INSERT INTO flight_ticket (ticketID, Class, customerName, cost, flight_no, customerId) VALUES ('{}', '{}', '{}', '{}', '{}', '{}');\n".format(
            customer['ticketID'], customer['Class'], customer['customerName'], customer['cost'], customer['flight_no'], customer['customerID']))

In [8]:
# Generate sample data for room_type table
num_customers = 75

room_type = []
for i in range(num_customers):
    customer = {
            'type_Id': typeID[i],
            'Name': random.choice(['Cozy Retreat Room', 'Executive King Suite', 'Deluxe Ocean View Room', 'Family Friendly Suite', 'Urban Loft Studio', 'Mountain Chalet Bedroom', 'Garden View Bungalow', 'Vintage Victorian Suite', 
                                           'Luxury Spa Room', 'Riverside Cabin Suite']),
            'max_guests': fake.random_number(digits=2),
            'total_room': fake.random_number(digits=3),
            'description': random.choice(['Cozy Single Bedroom', 'Spacious Master Suite', 'Modern Studio Apartment', 'Rustic Cabin Retreat', 'Luxurious Penthouse Loft', 'Charming Cottage Room', 'Elegant Executive Suite',
                                           'Quaint Guesthouse Bedroom', 'Contemporary Urban Loft', 'Seaside Villa Bedroom', 'Classic Victorian Chamber', 'Sleek City View Studio', 'Traditional Country Inn Room', 'Tropical Bungalow Bedroom',
                                           'Artistic Loft Space']),
            'room_price': fake.random_number(digits=3),
            'hotel_id': hotelID[i]
    }
    room_type.append(customer)
    
with open('room_type_sample_data_customers.sql', 'w') as f:
    for customer in room_type:
        f.write("INSERT INTO room_type (type_Id, name, max_guests, total_room, description, room_price, hotel_id) VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}');\n".format(
            customer['type_Id'], customer['Name'], customer['max_guests'], customer['total_room'], customer['description'], customer['room_price'], customer['hotel_id']))

In [9]:
# Generate sample data for hotel table
num_customers = 75

hotel = []
for i in range(num_customers):
    customer = {
            'hotel_id': hotelID[i],
            'amentities': random.choice(['Free Wi-Fi, Complimentary Breakfast, Fitness Center', 'Outdoor Pool, On-site Restaurant, 24-Hour Room Service', 'Business Center, Spa and Wellness Facilities, Concierge Service', 'Pet-Friendly Accommodations, Meeting and Event Spaces, Airport Shuttle Service',
                                       'Bar and Lounge Area, Valet Parking, Bicycle Rental Service', 'Game Room, Laundry Service, Gift Shop', 'Children Play Area, Picnic Area, BBQ Facilities', 'Luggage Storage, Express Check-In/Check-Out, Currency Exchange', 'Library, Fireplace Lounge, Movie Screening Room', 
                                       'Tennis Court, Golf Course Access, Jogging Trails']),
            'street': fake.street_address(),
            'city': fake.city(),
            'state': fake.state_abbr(),
            'zipcode': fake.zipcode(),
            'duration': fake.random_number(digits=2),
            'rating': random.randint(1, 5)
    }
    hotel.append(customer)
    
with open('hotel_sample_data_customers.sql', 'w') as f:
    for customer in hotel:
        f.write("INSERT INTO hotel (hotel_Id, amentities, street, city, state, zipcode, duration, rating) VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');\n".format(
            customer['hotel_id'], customer['amentities'], customer['street'], customer['city'], customer['state'], customer['zipcode'], customer['duration'],customer['rating']))

In [10]:
# Generate sample data for navigation table
num_customers = 75
transportation_methods = ['car', 'bike', 'bus', 'train', 'boat', 'walking']

navigation = []
for i in range(num_customers):
    customer = {
            'Navigation_ID': navigationID[i],
            'Distance': fake.random_number(digits=2),
            'Fare': fake.random_number(digits=2),
            'Estimated_time': fake.time(),
            'Transportation_Method': random.choice(transportation_methods),
            'Routing': random.choice(['Start from your home and head towards the nearest park', 'From the park, take a left turn and walk straight until you reach the library', 
                                    'Exit the library and turn right, continue walking until you see a coffee shop on your left', 'Take a break at the coffee shop, then continue straight until you reach the town square', 
                                    'Explore the town square and its surroundings', 'Afterward, head back home via a different route', 'Enjoy the journey!', 'Walk along the riverbank until you reach the bridge', 
                                    'Cross the bridge and turn right onto Main Street', 'Continue straight until you reach the market square', 'Visit the museum on the corner of Market and Elm Street', 'Take a detour through the old alleyways', 
                                    'Discover the hidden garden behind the old church', 'Pause for a moment of reflection at the church', 'Continue walking until you find the famous fountain']),
           'CustomerID': customerID[i]
    }
    navigation.append(customer)
    
with open('navigation_sample_data_customers.sql', 'w') as f:
    for customer in navigation:
        f.write("INSERT INTO Navigation (Navigation_ID, Distance, Fare, Estimated_time, Transportation_Method, routing, customerID) VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}');\n".format(
            customer['Navigation_ID'], customer['Distance'], customer['Fare'], customer['Estimated_time'], customer['Transportation_Method'], customer['Routing'], customer['CustomerID']))

In [11]:
# Generate sample data for restaurants table
num_customers = 75

restaurants = []
for i in range(num_customers):
    customer = {
            'Restaurant_ID': restaurantID[i],
            'Name': fake.company(),
            'Location': fake.address(),
            'Price': random.choice(['high', 'medium', 'low'])   
    }
    restaurants.append(customer)
    
with open('restaurants_sample_data_customers.sql', 'w') as f:
    for customer in restaurants:
        f.write("INSERT INTO Restaurants (restaurant_Id, name, location, price) VALUES ('{}', '{}', '{}', '{}');\n".format(
            customer['Restaurant_ID'], customer['Name'], customer['Location'], customer['Price']))

In [12]:
# Generate sample data for customer table
num_customers = 75

customer_table = []
for i in range(num_customers):
    customer = {
            'CustomerID': customerID[i],
            'Street': fake.street_address(),
            'City': fake.city(),
            'State': fake.state_abbr(),
            'ZipCode': fake.zipcode(),
            'Email': fake.email(),
            'Name': fake.name(), 
            'Restaurant_ID': restaurantID[i],
            'Hotel_id': hotelID[i],
    }
    customer_table.append(customer)
    
with open('customer_sample_data_customers.sql', 'w') as f:
    for customer in customer_table:
        f.write("INSERT INTO customer (customerId, street, city, state, zipcode, email, name, restaurant_Id, hotel_Id) VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');\n".format(
            customer['CustomerID'], customer['Street'], customer['City'], customer['State'], customer['ZipCode'], customer['Email'], customer['Name'], customer['Restaurant_ID'], customer['Hotel_id'],))

## Weak Entity

In [21]:
# Generate sample data for customer_demographics table
num_customers = 75

customer_demographics = []
for i in range(num_customers):
    customer = {
    'CustomerID': customerID[i],
    'Type': random.choice(['Young professionals aged 25-35, urban dwellers with disposable income', 'Families with children, suburban residents seeking convenience and value',
                           'Retirees aged 60 and above, looking for leisurely travel experiences', 'College students and millennials, budget-conscious and tech-savvy', 
                           'Single adults aged 30-40, interested in fitness and wellness trends', 'Couples in their mid-40s, seeking romantic getaways and fine dining experiences', 
                           'Empty nesters, aged 50-65, interested in cultural and educational travel', 'Business travelers, aged 35-55, seeking comfort and efficiency', 
                           'Adventure seekers and thrill enthusiasts, aged 20-30, craving adrenaline-fueled experiences', 'Luxury travelers, aged 45 and above, seeking exclusive and personalized services', 
                           'Food enthusiasts, aged 25-45, interested in culinary experiences and gourmet dining', 'Eco-conscious travelers, aged 30-50, seeking sustainable and eco-friendly accommodations', 
                           'Digital nomads, aged 25-40, interested in remote work and travel experiences', 'Wellness retreat attendees, aged 35-60, seeking relaxation and rejuvenation', 
                           'Cultural explorers, aged 30-55, interested in history, art, and local traditions'])
    }
    customer_demographics.append(customer)
    
with open('customer_demographics_sample_data_customers.sql', 'w') as f:
    for customer in customer_demographics:
        f.write("INSERT INTO Customer_Demographics (customerID, type) VALUES ('{}', '{}');\n".format(
            customer['CustomerID'], customer['Type']))

In [14]:
# Generate sample data for activities table
num_customers = 75

activities = []
for i in range(num_customers):
    customer = {
        'activities_id': activitiesID[i],
        'name': random.choice(['skating', 'hiking', 'art gallaries', 'taste testing', 'scuba diving', 'sky diving', 'museums', 'camping', 'safari tours']),
        'cost': fake.random_number(digits=2),
    }
    activities.append(customer)
    
with open('activities_sample_data_customers.sql', 'w') as f:
    for customer in activities:
        f.write("INSERT INTO activities (activities_ID, name, cost) VALUES ('{}', '{}', '{}');\n".format(
            customer['activities_id'], customer['name'], customer['cost']))

In [20]:
# Generate sample data for restaurants_booked table
num_customers = 75

restaurants_booked = []
for i in range(num_customers):
    customer = {
        'Booked_ID': BookedID[i], 
        'Restaurant_ID': restaurantID[i],
        'Participants': fake.random_number(digits=2), 
        'Datetime': date_time[i]
    }
    restaurants_booked.append(customer)
    
with open('restaurants_booked_sample_data_customers.sql', 'w') as f:
    for customer in restaurants_booked:
        f.write("INSERT INTO Restaurants_Booked (booked_ID, restaurant_ID, participants, datetime) VALUES ('{}', '{}', '{}', '{}');\n".format(
            customer['Booked_ID'], customer['Restaurant_ID'], customer['Participants'], customer['Datetime']))

In [16]:
# Generate sample data for cuisine_type table
num_customers = 75

cuisine_type = []
for i in range(num_customers):
    customer = {
        'Cuisine_ID': cuisineID[i],
        'Description': random.choice(['Italian-inspired flavors of tomatoes, garlic, and olive oil', 'Delicate balance of Japanese seafood, rice, and traditional sauces', 
                                                  'Vibrant and spicy Mexican dishes with chili peppers and cilantro', 'Aromatic and diverse Indian spices in curries and tandoori', 
                                                  'Elegant French dishes like coq au vin and bouillabaisse', 'Bold and aromatic Thai cuisine with lemongrass and coconut milk', 
                                                  'Diverse Chinese specialties from Sichuan to Cantonese dim sum', 'Fresh Greek flavors with olive oil, herbs, and feta cheese', 
                                                  'Bold and hearty Spanish dishes like paella and tapas', 'Flavorful Brazilian dishes influenced by indigenous, African, and Portuguese cultures']),
        'Type': random.choice(['Chinese', 'American', 'Italian', 'Mediterranean', 'French', 'Mexican', 'Greek', 'Korean', 'Fusion']),
        'Restaurant_ID': restaurantID[i]
    }
    cuisine_type.append(customer)
    
with open('cuisine_type_sample_data_customers.sql', 'w') as f:
    for customer in cuisine_type:
        f.write("INSERT INTO Cuisine_Type (cuisine_ID, description, type, restaurant_Id) VALUES ('{}', '{}', '{}', '{}');\n".format(
            customer['Cuisine_ID'], customer['Description'], customer['Type'], customer['Restaurant_ID']))

## Bridge entity

In [17]:
# Generate sample data for attends bridge table
num_customers = 75

attends = []
for i in range(num_customers):
    customer = {
        'activities_id': activitiesID[i],
        'CustomerID': customerID[i]
    }
    attends.append(customer)
    
with open('attends_sample_data_customers.sql', 'w') as f:
    for customer in attends:
        f.write("INSERT INTO Attends (activities_id, customerID) VALUES ('{}', '{}');\n".format(
            customer['activities_id'], customer['CustomerID']))

In [18]:
# Generate sample data for restaurant_cuisine bridge table
num_customers = 75

restaurant_cuisine = []
for i in range(num_customers):
    customer = {
        'Cuisine_ID': cuisineID[i],
        'Restaurant_ID': restaurantID[i]
    }
    restaurant_cuisine.append(customer)
    
with open('restaurant_cuisine_sample_data_customers.sql', 'w') as f:
    for customer in restaurant_cuisine:
        f.write("INSERT INTO Restaurant_Cuisine (Cuisine_id, restaurant_id) VALUES ('{}', '{}');\n".format(
            customer['Cuisine_ID'], customer['Restaurant_ID']))

In [19]:
# Generate sample data for navigation transportation method table
num_customers = 75
transportation_methods = ['car', 'bike', 'bus', 'train', 'boat', 'walking']

Navigation_Transportation_Method = []
for i in range(num_customers):
    customer = {
        'Navigation_ID': navigationID[i],
        'Transportation_Method': random.choice(transportation_methods)
    }
    Navigation_Transportation_Method.append(customer)
    
with open('Navigation_Transportation_Method_sample_data_customers.sql', 'w') as f:
    for customer in Navigation_Transportation_Method:
        f.write("INSERT INTO Navigation_Transportation_Method (Navigation_id, Transportation_Method) VALUES ('{}', '{}');\n".format(
            customer['Navigation_ID'], customer['Transportation_Method']))